.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container form {
    background-color: rgb(71, 71, 71);
    width: 70%;
    padding: 2em;
    border-radius: 20px;
}

.container > form > div {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 30px auto;
}

.container > form label {
    font-size: 1.3em;
    margin-bottom: 10px;
    text-shadow: 1px 2px 8px rgba(0, 0, 0, 0.418);
}

.container .inputs {
    font-size: 1em;
    padding: 10px;
    outline: 0;
    border: none;
    border-radius: 5px;
}

.container button {
    width: 15%;
    margin: auto;
    background-color: rgb(182, 23, 23);
    color: white;
    padding: 1.2em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover {
    background-color: rgb(207, 31, 31);
}