.container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(29, 28, 28);
    color: white;
    text-align: center;
    padding-block: 2em;
    overflow: hidden;
}

.container h2 {
    padding-bottom: 1em;
    margin-top: 2em;
}