.card {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.cover {
    border-radius: 10px;
    width: 225px;
    transition: all .2s ease;
}

.cover:hover {
    transform: scale(1.15);
    box-shadow: 0 0 10px #2e2e2e;
}

.icon {
    width: 30px;
    height: 30px;
    background-color: rgba(56, 56, 56, 0.808);
    position: absolute;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon:hover {
    background-color: black;
    
}